@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Company
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> Name : @Model.Name</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Type : @Model.Type</li>
    <li class="list-group-item">Address : @Model.Address</li>
     <li class="list-group-item"> DataStart : @Model.DataStart</li>
      <li class="list-group-item">Number of Employees: @Model.employees.Count()</li>

  </ul>
  <div class="d-flex justify-content-start">
  <a href ="/Company/Edit/@Model.Id"  class="btn btn-link">Edit</a>
</div>
</div>