@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Employee>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Address</th>
      <th scope="col">Email Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Salary</th>
      <th scope="col">Image</th>
      <th scope="col">Company Name</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    @foreach(var i in Model)
    {
      <tr data-id="@i.Id">
        <th scope="row">@i.Id</th>
        <td>@i.Name</td>
        <td>@i.Age</td>
        <td>@i.Address</td>
        <td>@i.EmailAddress</td>
        <td>@i.Phone</td>
        <td>@i.Salary</td>
        <td>
          <img src="~/Image/@i.Image" alt="Employee Image" width="50" height="50" />
        </td>
        <td>@i.company.Name</td> 
        <td><a href ="/Employee/GetById/@i.Id"  class="btn btn-link">Details</a></td>
        <td><a href ="/Employee/DeleteEmployee/@i.Id"  class="btn btn-link" data-id="@i.Id">Delete</a></td>
      </tr>
    }
  </tbody>
</table> 
<div class="d-flex justify-content-end">
   <a href="/Employee/Create"><button type="button" class="btn btn-secondary">Add New Employee</button></a> 
</div>
